.contactlinks {
  display: flex;
  justify-content: center;
}
.contactlinks li {
  text-decoration: none;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
}
.contactlinks li i {
  color: black;
}
li {
  font-size: 18px;
  color: rgba(5, 5, 102, 0.493);
}
